* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #0C070C;
   color: #B29A2B;
   font-size:11px;
}

.container {
   width : 850px;
   margin: auto;
   text-align: center;
   padding-top:300px;
   font-size: 200%;
}

.container .text,
.container .text2 {
   margin: 20px 0;
}

.container .text2 {
   display: none;
}

.search {
   width : 800px;
   margin: 0 auto;
   height: 109px;
   border: 3px solid #B29A2B;
   border-radius: 30px;
   overflow:hidden;
}

.search button,
.search input {
   height:inherit;
   border: none;
   color: inherit;
   background-color:inherit;
}

.search button {
   width: 100%;
   font-size:200%;
}

.search input {
   width: 100%;
   font-size: 120%;
}

.input::placeholder {
   color: #B29A2B;
}

.white::placeholder{
   color: #FFFFFF;
}

.search input:focus {
   outline:none;
}

.search button:focus {
   outline:none;
}

.adv {
   background-color:#B29A2B;
   height: 800px;
   margin: 20px auto;
   display:none;
   text-align:left;
   overflow-y:scroll;
}

.country-list {
   padding: 50px;
   list-style: none;
   font-size: 50%;
}

.country-list li{
   padding: 20px 0;
}

.flag{
   width:50px;
   float: right;
}

.country-list li button {
   width: 100%;
   text-align:left;
   font-size: 280%;
}

.flag2 {
   width: 10%;
}

.loader{
   height:400px;
   margin-top: 100px;
   padding-top: 140px;
   font-size: 400%;
   display:none;
   border:none;
}

#dot {
   display: inline-block;
}

.data {
   padding: 20px 0;
   height:500px;
   margin-top: 100px;
   font-size: 150%;
   display:none;
}

.img {
   width:80%;
   height:60%;
   border-radius:20px;
   display:inline-block;
   overflow:hidden;
}

.img img{
   height:100;
   width:100%;
   margin:0;
}

.table{
   width:inherit;
   height:80%;
   font-size:80%;
}

.table .image{
   width:40%;
   text-align:right;
}

.short{
   height:25%;
}

.small{
   height: 20%;
   text-align:left;
   padding-left:20px;
   margin:0;
}

.time{
   text-align:left;
   padding-left:20px;
   font-size:300%;
}

@keyframes fade{
   from {
      opacity:0;
   }
   to {
      opacity:1;
   }
}

@keyframes load{
   0%{
      transform:scale(0);
   }
   50%{
      transform:scale(1);
   }
   100%{
      transform:scale(0);
   }
}